<header>
    <div class="header-container">
        <div class="header-title">
            <h1>Olha Krasiy - Photographer</h1>
        </div>
        <div class="contact-info">
            <p><em>Телефон: +380661234567</em></p>
            <p><em>Email: olha_krasiy@gmail.com</em></p>
        </div>
    </div>
    <nav>
        <a href="/">Головна</a>
        <a href="/portfolio">Портфоліо</a>
        <a href="/about">Про мене</a>
        <a href="/services">Послуги</a>
        <a href="/contacts">Контакти</a>
        <a href="/blog">Блог</a>
    </nav>
</header>
